.wrapper {
    width: 344px;
    height: 109px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    gap: 15px;
    color: var(--color-white);
}
  
  .wrapperSelected {
    width: 344px;
    height: 109px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 25px;
    gap: 15px;
    border-radius: 14px;
    background-color: var(--color-btn);
    .name {
      color: var(--color-primary);
    }
    .cases {
      color: var(--color-primary);
    }
  }
  
  .name {
    font-size: 24px;
    font-weight: 600;
  }
  
  .cases {
    font-size: 14px;
    font-weight: 400;
    opacity: 30%;
  }